{% extends 'base.html' %}
{% load static %}

{#div#}
{% block content %}
    <h3>Sign Up</h3>
    <form class="sign-up-form" method="post" action="{% url 'sign_up' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <p>이름(ID): {{ form.username }}</p>
        <p>Email: {{ form.email }}</p>
        <p>Phone: {{ form.phone }}</p>
        <p>Password: {{ form.password1 }}</p>
        <p>Password Again: {{ form.password2 }}</p>
        <p><input type="submit" name="submit" value="submit"/></p>
    </form>
{% endblock content %}
{#/div#}