{% extends 'base.html' %}

{% load static %}

{#div#}
{% block content %}
    <h3>일일 보고</h3>
    <div>
    <form class="input-form" method="post" action="{% url 'input' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
        <p>
            {{ form.date }}
        </p>
        <p>
            출근: {{ form.start }} 퇴근: {{ form.end }}<br>
            근무 시간: {{ form.hours }}
        </p>
        <p class="form-contents">
            근무 내용<br>
            {{ form.contents }}
        </p>
    <input type="submit" name="submit" value="submit"/>
    </form>
    </div>
{% endblock content %}
{#/div#}