{% extends 'base.html' %}

{% load static %}
{% url "calendar_current_month" %}

{#div#}
{% block content %}
    <h3>조회</h3>
    <h5>{{ month }}월 총 근무 시간 > {{ all_hours }}시간</h5>
    <div class="row">
        <div class="col-9">
            <div class="month-title">
                <button id="before">
                    <form method="post" action="{% url 'look_up' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="year" value="{{ year }}"/>
                        <input type="hidden" name="month" value="{{ month }}"/>
                        <input type="hidden" name="move" value="before"/>
                        <input type="submit" name="submit" value="이전"/>
                    </form>
                </button>
                <h4>{{ title }}</h4>
                <button id="next">
                    <form method="post" action="{% url 'look_up' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="year" value="{{ year }}"/>
                        <input type="hidden" name="month" value="{{ month }}"/>
                        <input type="hidden" name="move" value="next"/>
                        <input type="submit" name="submit" value="다음"/>
                    </form>
                </button>
            </div>
            <table class="table">
                <thead>
                <th>월</th>
                <th>화</th>
                <th>수</th>
                <th>목</th>
                <th>금</th>
                <th>토</th>
                <th>일</th>
                </thead>
                <tbody>
                {% for week in weeks %}
                    <tr>
                        {% for day in week %}
                            {% if day.log %}
                                <td class="is-work" onclick="show_detail({{ year }}, {{ month }}, {{ day.date }}, {{ day.log.hours }}, '{{ day.log.contents }}')">
                                    <div class="date">{{ day.date }}</div>
                                    <div class="hours">{{ day.log.hours }}</div>
                                </td>
                            {% else %}
                                <td>
                                    <div class="date">{{ day.date }}</div>
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-3" id="detail">
            <div id="detail1"></div>
            <div id="detail2"></div>
            <div id="detail3"></div>
        </div>
    </div>
    <script type="text/javascript">
        function show_detail(year, month, date, hours, contents) {
            $('#detail').css('display', 'block');
            $('#detail1').html(year+"-"+month+"-"+date);
            $('#detail2').html("근무시간: "+hours+"시간");
            $('#detail3').html(contents);
        }
    </script>

{% endblock content %}
{#/div#}