{% extends 'base.html' %}

{% load static %}

{#div#}
{% block content %}
<h3>출근예정</h3>
<p>30분 단위로 입력해주세요. 예시: 11:00, 16:30</p>
<div>
    <div class="month-title">
        <h4>{{ title }}</h4>
    </div>
    <table class="table plan-table">
        <thead>
        <th>월</th>
        <th>화</th>
        <th>수</th>
        <th>목</th>
        <th>금</th>
        <th>토</th>
        <th>일</th>
        </thead>
        <tbody>
        <tr>
            <form method="post" action="{% url 'save_plan' %}" enctype="multipart/form-data">
                {% for day in all_day %}
                <td>
                    {% if day.today %}
                        <div class="today-box">{{ day.date }}</div>
                        <div class="input-box today-box">
                            {% csrf_token %}
                            <input type="hidden" name="date{{ day.date }}"
                                   value="{{ year }}-{{ month }}-{{ day.date }}">
                            {% if day.form %}
                                출근<br>
                                <input type="text" name="start{{ day.date }}" value="{{ day.form.start }}"><br>
                                퇴근<br>
                                <input type="text" name="end{{ day.date }}" value="{{ day.form.end }}"><br>
                            {% else %}
                                출근<br>
                                <input type="text" name="start{{ day.date }}"><br>
                                퇴근<br>
                                <input type="text" name="end{{ day.date }}"><br>
                            {% endif %}
                        </div>
                    {% elif not day.flag %}
                        <div>{{ day.date }}</div>
                        <div class="input-box">
                            {% csrf_token %}
                            <input type="hidden" name="date{{ day.date }}"
                                   value="{{ year }}-{{ month }}-{{ day.date }}">
                            {% if day.form %}
                                출근<br>
                                <input type="text" name="start{{ day.date }}" value="{{ day.form.start }}"><br>
                                퇴근<br>
                                <input type="text" name="end{{ day.date }}" value="{{ day.form.end }}"><br>
                            {% else %}
                                출근<br>
                                <input type="text" name="start{{ day.date }}"><br>
                                퇴근<br>
                                <input type="text" name="end{{ day.date }}"><br>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="gray-date">{{ day.date }}</div>
                    {% endif %}
                </td>
                {% endfor %}
                <input type="submit" class="submit" name="submit" value="submit"/>
            </form>
        </tr>
        <form method="post" action="{% url 'plan' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="year" value="{{ year }}"/>
            <input type="hidden" name="month" value="{{ month }}"/>
            <input type="hidden" name="day" value="{{ day }}"/>
            <input type="hidden" name="move" value="before"/>
            <input type="submit" class="before" name="submit" value="이전"/>
        </form>
        <form method="post" action="{% url 'plan' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="year" value="{{ year }}"/>
            <input type="hidden" name="month" value="{{ month }}"/>
            <input type="hidden" name="day" value="{{ day }}"/>
            <input type="hidden" name="move" value="next"/>
            <input type="submit" class="next" name="submit" value="다음"/>
        </form>
        </tbody>
    </table>
</div>
{% endblock content %}
{#/div#}